.newsItem {
  display: flex;
  background: linear-gradient(
    130.88deg,
    #080a0e 0%,
    rgba(55, 59, 150, 0.2) 71.39%
  );
  margin-bottom: 30px;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
}
.root {
  display: flex;
  width: 1200px;
  max-height: 250px;
}

.newsItem:hover {
  transition: 1s;
  background-color: #79797978;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 20px;
  font-weight: 300;
  color: rgb(223, 223, 223);
  overflow: scroll;
}

.title {
  font-weight: 400;
  color: #ffffff;
}

.img {
  width: 500px;
  height: 250px;
  min-width: 500px;
  min-height: 20px;
  border-radius: 10px;
  object-fit: cover;
}
.source {
  color: rgba(255, 255, 255, 0.633);
  font-weight: 100;
}
.expand::-webkit-scrollbar {
  width: 0;
}
.expand {
  background-color: #0a0a0a94;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  overflow: scroll;
  position: fixed;
  top: 50px;
  height: 80vh;
  animation: ani 0.5s forwards;
  width: 1200px;
  padding: 20px;
  color: white;
  font-weight: 200;
  box-shadow: 0px 0px 100px 90px rgba(0, 0, 0, 0.588);
}

.expandTitle {
  max-width: 1000px;
  font-weight: 200;
  font-size: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.expandImg {
  display: flex;
  justify-content: center;
}
.imgExp {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.expandSource {
  font-family: Arial;
  text-align: center;
  margin: 20px 0 20px 0;
  color: #828282;
  font-weight: 200;
}
.expandContent {
  font-weight: 100;
  padding: 0 50px 0 50px;
  line-height: 30px;
}
.expandBar {
  height: 5px;
  width: 200px;
  background: #ffffff56;
  border-radius: 20px;
  margin: 20px auto;
}
.expandTime {
  font-size: 10px;
  color: #828282;
  font-weight: 400;
  text-align: center;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
