.newsItem {
  display: flex;
  background: #d5d5d522;
  margin-bottom: 27px !important;
  border-radius: 10px;
  cursor: pointer;
  height: 250px;
  max-width: 1200px;
  margin: 0 auto;
}

.newsItem:hover {
  transition: 1s;
  background-color: #79797978;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 20px;
  font-weight: 300;
  color: rgb(223, 223, 223);
  overflow: scroll;
}

.title {
  font-weight: 400;
  color: #ffffff;
}

.img {
  width: 500px;
  height: 250px;
  /* min-width: 500px;
  min-height: 20px; */
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.source {
  color: rgba(255, 255, 255, 0.633);
  font-weight: 100;
  text-align: end;
}

.expand::-webkit-scrollbar {
  width: 0;
}
.rootExpand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expand {
  background-color: #0a0a0a94;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  overflow: scroll;
  position: fixed;
  top: 50px;
  left: 50% - 20px;
  height: 80vh;
  animation: ani 0.5s forwards;
  max-width: 1200px;
  padding: 20px;
  color: white;
  font-weight: 200;
  box-shadow: 0px 0px 100px 90px rgba(0, 0, 0, 0.588);
}

.expandTitle {
  max-width: 1000px;
  font-weight: 200;
  font-size: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.expandImg {
  display: flex;
  justify-content: center;
}
.imgExp {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.expandSource {
  font-family: Arial;
  text-align: center;
  margin: 20px 0 20px 0;
  color: #828282;
  font-weight: 200;
}
.expandContent {
  font-weight: 100;
  padding: 0 50px 0 50px;
  line-height: 30px;
}
.expandBar {
  height: 5px;
  width: 200px;
  background: #ffffff56;
  border-radius: 20px;
  margin: 20px auto;
}
.expandTime {
  font-size: 15px;
  color: #828282;
  font-weight: 400;
  text-align: center;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 990px) {
  .img {
    width: 400px;
  }
  .expand {
    max-width: 800px;
  }
  .imgExp {
    width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  .expandTitle {
    max-width: 500px;
  }
}

@media (max-width: 770px) {
  .newsItem {
    flex-direction: column;
    height: auto;
    max-width: 350px;
  }
  .img {
    width: 350px;
  }
  .expand {
    max-width: 330px;
  }
  .imgExp {
    width: 330px;
    height: 200px;
    border-radius: 0;
  }
  .expandTitle {
    max-width: 300px;
  }
  .expandContent {
    max-width: 330px;
    padding: 5px;
  }
}
