::-webkit-scrollbar {
  width: 0;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 35px;
  line-height: 52px;
  color: white;
  margin-top: 50px;
  letter-spacing: 0.1em;
  /* -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; */
}
.newsPage {
  /* background: rgb(0, 0, 0); */
  /* background: radial-gradient(
    circle,
    rgb(40, 48, 90) 10%,
    rgba(0, 0, 0, 1) 86%
  ); */
  /* background-color: #000000; */
  background-image: url(../img/fon.png);
  background-attachment: fixed;
  background-size: cover;
}

.content {
  /* max-width: 1200px; */
}

@keyframes ani {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.subtitle {
  font-style: normal;
  font-weight: 275;
  font-size: 15px;
  line-height: 30px;
  color: #b8b8b8;
}
/* @media (prefers-color-scheme: light) {
  .newsPage {
    background-color: #ffffff;
  }
} */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .subtitle {
    margin-left: 20px;
    margin-right: 20px;
  }
}
