.languageMenu {
  cursor: pointer;
  user-select: none;
}

.languages {
  position: absolute;
  background-color: #181818;
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
  text-align: center;
  font-weight: 200;
}
.item:hover {
  color: rgb(113, 113, 113);
}
