.loader {
  background: #e9cece22;
  margin-bottom: 27px !important;
  border-radius: 10px;
  cursor: pointer;
  height: 250px;
  max-width: 1200px;
  margin: 0 auto;
  animation: pulse 2s linear infinite;
}

@media (max-width: 990px) {
  .loader {
    max-width: 1200px;
    height: 250px;
  }
}

@media (max-width: 770px) {
  .loader {
    max-width: 350px;
    height: 500px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
