.bar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.weather {
  color: rgb(131, 131, 131);
  text-decoration: none;
}
.language {
  color: rgb(131, 131, 131);
}
@media (max-width: 1200px) {
  .bar {
    margin-left: 20px;
    margin-right: 20px;
  }
}
