.bar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.weather {
  color: white;
}
.language {
  color: rgb(131, 131, 131);
}
